@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    background: white;
}





/* BUTTON */
.wrap {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
  }
  
  .button {
    width: 260px;
    height: 55px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #fd4f0b;;
    box-shadow: 0px 15px 20px #e65e29;;
    color: #fff;
    transform: translateY(-7px);
  }


/* HOME MAIN PAGE */

.homepage {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    
}


h1 {
font-size: 12rem;
color: #fff;
margin: 0;
text-transform: uppercase;
text-align: center;
padding: 10rem 0 8rem 0;
}

.logo {
    width: 150px;
    height: auto;
   
}

.logo-position{
    text-align: left;
    position: inline-block;
}

table {
    margin:0 auto;    
}
table tr td {
    text-align:center;
}

.social {
    color: white;
    font-size:35px;
    border-radius:50%;
    transition:0.4s ease-in-out;
    margin:0px 10px;
    text-align:center;
}

.social:hover { 
    cursor: pointer;
    color:rgb(53, 56, 236);
}


/*GALLERY PAGE*/
.image-section {
    padding: 60px 0;
    min-height: 100vh;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 5rem;
    padding: 5rem 10rem 5rem 10rem;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
    display:flex;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: all 100ms ease-out;
  }
  .gallery img:hover {
    transform: scale(1.04);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  /*OPENING HRS PAGE*/

.openinghours {
    font-family:'Oswald', sans-serif;
    padding:10rem 5rem;
    overflow: hidden;
    display: grid;
    background-color: white;
    justify-content: center;
    
}
.openinghourscontent {
    justify-content: center;
    width: 580px;
    background-color: rgb(247, 247, 252);
    border-radius: 45px;
}
.openinghourscontent h2 {
    display:block;
    text-align:center;
    margin-top:.33em;
    font-size: 3rem;
}
.openinghourscontent button {
    width: 280px;
    height: 55px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 5rem 16rem 2rem 16rem;
}
button:hover {
    background-color: #fd4f0b;;
    box-shadow: 0px 15px 20px #f0703d;;
    color: #fff;
    transform: translateY(-7px);
  }

.today {
    color: #fd4f0b;
}
.opening-hours-table tr td:first-child {
    font-weight:bold;
    
}
#open-status {
    display:block;
    margin-top:-1em;
    text-align:center;
    text-decoration: underline;
    
    font-size: 1.5rem;
}
.openorclosed:after {
    content:" open during these hours:";
}
.open {
    color: black;
    font-size: 2rem;
}
.open:after {
    content:" Open";
    color: rgb(55, 143, 29);
}
.closed:after {
    content:" Closed";
    color: rgb(175, 11, 11);
}
.opening-hours-table tr td {
    padding:5px;
    text-align: center;
    font-size: 2rem;
}

 
  

  /* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {

    h1 {
        font-size: 5rem;
        padding: 8rem 0 1rem 0;
        max-width: 35rem;
        margin: 0 auto;
    }

    .openinghours {
        margin-top: 0;
}

.gallery {
    grid-template-columns: none;
    padding: 2rem 3rem;
    
}
 .gallery img {
    -webkit-filter: none;
 }

 .openinghours {
     margin: 0 auto;
 }
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.scroll-prompt {
	position: fixed;
	z-index: 998;
	
	left: 50%;
	margin-left: -80px;
	width: 160px;
    height: 160px;
}

	.scroll-prompt-arrow-container {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -18px;
		animation-name: bounce;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}
	.scroll-prompt-arrow {
		animation-name: opacity;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}
	.scroll-prompt-arrow:last-child {
		animation-direction: reverse;
		margin-top: -6px;
	}
	.scroll-prompt-arrow > div {
		width: 36px;
		height: 36px;
		border-right: 8px solid #bebebe;
		border-bottom: 8px solid #bebebe;
		transform: rotate(45deg) translateZ(1px);
	}


@keyframes opacity {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0.1;
	}

	20% {
		opacity: 0.2;
	}

	30% {
		opacity: 0.3;
	}

	40% {
		opacity: 0.4;
	}

	50% {
		opacity: 0.5;
	}

	60% {
		opacity: 0.6;
	}

	70% {
		opacity: 0.7;
	}

	80% {
		opacity: 0.8;
	}

	90% {
		opacity: 0.9;
	}

	100% {
		opacity: 1;
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	10% {
		transform: translateY(3px);
	}

	20% {
		transform: translateY(6px);
	}

	30% {
		transform: translateY(9px);
	}

	40% {
		transform: translateY(12px);
	}

	50% {
		transform: translateY(15px);
	}

	60% {
		transform: translateY(18px);
	}

	70% {
		transform: translateY(21px);
	}

	80% {
		transform: translateY(24px);
	}

	90% {
		transform: translateY(27px);
	}

	100% {
		transform: translateY(30px);
	}
}